# Types of Operator

- Arithmetic Operators
- Comparison (Relational) Operators
- Assignment Operators
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

## Arithmetic Operators

+ Addition
- Subtraction
* Multiplication
/ Division
// floor Division
% Modulus
** Power

In [1]:
2 + 5

7

In [2]:
2.0 + 5.0

7.0

In [3]:
2 + 5.0

7.0

In [4]:
"A" + "B"

'AB'

In [5]:
["Hamza","Junaid"] + ["Abid","Konain"]

['Hamza', 'Junaid', 'Abid', 'Konain']

In [6]:
("Hamza","Junaid") + ("Abid","Konain")

('Hamza', 'Junaid', 'Abid', 'Konain')

In [7]:
{"A","B"} + {"C","D"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [8]:
{1:"A",2:"B"} + {3:"C",4:"D"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [9]:
5 - 2

3

In [10]:
4.2 - 3

1.2000000000000002

In [12]:
{5,6,8,7} - {6,7}

{5, 8}

In [13]:
{"A","B","C"} - {"B"}

{'A', 'C'}

In [11]:
[4,5]-[2,3]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [14]:
2 * 4

8

In [19]:
3.0 * 2

6.0

In [15]:
"A" * 3

'AAA'

In [16]:
["A"] * 3

['A', 'A', 'A']

In [18]:
("aA") * 2

'aAaA'

In [24]:
12 / 4

3.0

In [25]:
11 / 3

3.6666666666666665

In [22]:
11 // 3

3


        3
 3  ________
____|   11  |____   
        9
    ----------
        2   # Modulus

In [26]:
11 % 3

2

In [27]:
2 ** 3 # 2 X 2 X 2 = 8

8

In [28]:
"A" ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

## Comparison (Relational) Operators

==
>
<
>=
<=
!=, <>

In [29]:
2 == 2

True

In [30]:
'A' == 'a'

False

In [31]:
5 > 3

True

In [32]:
5 > 5

False

In [33]:
5 >= 5 # 5 > 4

True

In [36]:
5 > 4

True

In [37]:
"A" > "B"

False

A=65  -> Z=90
a=97  -> z=122
0=48  -> 9=57

In [40]:
ord("a")

97

In [41]:
chr(65)

'A'

In [42]:
3 < 4

True

In [43]:
3 <= 3

True

In [44]:
'qasim' != "Qasim"

True

In [45]:
2 != 4

True

# Assignment Operators

=
+=
-=
*=
/=
//=
**=
%=

In [46]:
a = 5
print(a)

5

In [47]:
a = 5
a = 6
a = 7
print(a)

7

In [48]:
a = 1 # 1
a +=2 # 1 + 2 = 3
a +=3 # 3 + 3=6
a +=4 # 6 + 4 = 10
print(a)

10

In [49]:
a = 1 #      1
a = a + 2 #  1 + 2 = 3
a = a + 3 #  3 + 3 = 6
a = a + 4 # 6 + 4 = 10
print(a)

10

In [50]:
a = 100
a -=5
a -=5
a -=10
print(a)

80

In [51]:
a = 1
a *= 2 # 1 *2
a *= 3 # 2 * 3 = 6
print(a)

6

In [52]:
a = 100
a /= 2
a /= 2
print(a)

25.0

In [53]:
a = 100
a //= 2
a //= 2
print(a)

25

In [54]:
a = 21
a %= 5
print(a)

1

In [56]:
a = 2
a **= 2
a **= 3
print(a)

64

In [57]:
a = "A"
a += "B"
print(a)

AB

In [58]:
a = [1,2,3]
a +=[5,6]
print(a)

[1, 2, 3, 5, 6]

# Logical Operators

and  & 
or   |
not

In [59]:
True and True and True

True

In [60]:
True & True & True

True

In [61]:
True and False and True

False

In [63]:
user = input("UserName:")
password = input("Password")

user == "Admin" and password == "123"
#"Admin" == "Admin" and "123" == "123"
#       True         and       True
#                   True

UserName:Admin
Password123

True

In [67]:
user = input("UserName:")
password = input("Password")

(user == "Admin") & (password == "123")
#"Admin" == "Admin" and "123" == "123"
#       True         and       True
#                   True

UserName:Admin
Password123

True

In [64]:
user = input("UserName:")
password = input("Password")

user == "Admin" and password == "123"
#"Qasim" == "Admin" and "123" == "123"
#       False        and       True
#                   False

UserName:Qasim
Password123

False

In [68]:
True or True or False or False or True

True

In [69]:
True | True | False | False | True

True

In [70]:
False | False | False | False | False

False

In [78]:
user = "Qasim" # Qasim,Ali, Hamza
password = "123" # 123


(user == "Qasim" or \
 user== "Ali" or \
 user == "Hamza") and password=="123"

True

In [80]:
user = "a"
password = "123"

not (user=="Ali" and password=="123")

True

In [81]:
not(True)

False

In [82]:
not(False)

True

# Bitwise Operators

8,  7,    6,    5,    4,    3,    2,    1,    0
2,  2,    2,    2,    2,    2,    2,    2,    2
===============================================
256,128,  64,   32,  16,     8,    4,    2,   1

28=11100
29=11101
35=100011


1010101
Right side
11001

1  = 1
0  = 0
0  = 0
1  = 8
1  = 16
25

&  and
11100
11101
------
11100

In [83]:
28 & 29

28

In [84]:
29 & 28

28

|  or

11100
11101
------
11101

In [86]:
28 | 29

29

^

11100
11101
------
00001

In [87]:
28 ^ 29

1

In [88]:
~29

-30

# Membership Operators

in
not in

In [89]:
names = ["Ali","Hamza","Junaid","Kashif"]
i = 0
while i < len(names):
    if names[i]=="Junaid":
        print(True)
        break
    i +=1

True

In [90]:
names = ["Ali","Hamza","Junaid","Kashif"]
"Kashif" in names

True

In [92]:
user = input("Text")
'pakistan' in user

Textladsj adsljflkaj laksjdflkja sldkf pakistan klajdkjfaj sdflkj

True

In [93]:
'Qasim' not in user

True

In [94]:
user = input()
user = user.split()
user

a b c abc xyz pakistan

['a', 'b', 'c', 'abc', 'xyz', 'pakistan']

# Identity Operators

In [95]:
a = '5'
b = 5
c = a

print(a is b)
print(a is c)

False
True

In [96]:
print(id(a))
print(id(b))
print(id(c))

139724968829144
94321033466880
139724968829144

In [98]:
id(a) == id(c)

True

# Control Flow
if else elif

old 
if (logic){
    value_if_True
}else{
    value_if_False
}

PYTHON

if logic:
    value_if_True
else:
    value_if_False

In [99]:
if True:
    print("Pakistan")
else:
    print("Zinda bad")

Pakistan

In [101]:
if False:
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
else:
    print("Zinda bad")

Zinda bad

In [104]:
user = input("User")
password = input("Pass")

if (user=="Ali" or user=="Hamza") and password=="123":
    print("Valid User!")
else:
    print("Invalid User")

UserQasim
Pass123
Invalid User

In [105]:
user = input("User")
password = input("Pass")

if (user in ['Ali',"Hamza","Junaid"]) and password=="123":
    print("Valid User!")
else:
    print("Invalid User")

UserJunaid
Pass123
Valid User!