In [2]:
#     0   1       2
l1 = [2,"Qasim","A.I"]
#     -3  -2      -1

#list[element1, element2, element3,...]
#list[index]
l1

[2, 'Qasim', 'A.I']

# Dictionary

# item = key:value

#{key1: value1,
# key2: value2,
# key3: value3,..}

In [3]:
d1 = {"id":2,
     "name":"Qasim",
     "Course": "A.I"}
d1

{'id': 2, 'name': 'Qasim', 'Course': 'A.I'}

In [7]:
d1 = {"id":2,
     "name":"Qasim",
      "id":25,
     "Course": "A.I"}
d1

{'id': 25, 'name': 'Qasim', 'Course': 'A.I'}

In [4]:
d1 = {} #empty dictionary
d1["id"] = 10
d1['name']='Ali'
d1['course']="IOT"

d1

{'id': 10, 'name': 'Ali', 'course': 'IOT'}

In [11]:
d1 = {'id': 10, 'name': 'Ali', 'course': 'IOT'}
print(d1)
d1.clear()
print(d1)

{'id': 10, 'name': 'Ali', 'course': 'IOT'}
{}

In [12]:
d1 = {'id': 10, 'name': 'Ali', 'course': 'IOT'}
print(d1)
del d1
print(d1)

{'id': 10, 'name': 'Ali', 'course': 'IOT'}

NameError: name 'd1' is not defined

In [16]:
d1 = {'id': 10, 'name': 'Ali', 'course': 'IOT'}
d2 = d1.copy()
print(d1)

d1['name'] = "Hamaza"
print(d1)

print(d2)

{'id': 10, 'name': 'Ali', 'course': 'IOT'}
{'id': 10, 'name': 'Hamaza', 'course': 'IOT'}
{'id': 10, 'name': 'Ali', 'course': 'IOT'}

In [17]:
l1 = ['name','id','contact','DOB','CNIC']

dict.fromkeys(l1)

{'name': None, 'id': None, 'contact': None, 'DOB': None, 'CNIC': None}

In [21]:
l1 = input("Enter keys")
l1 = l1.split(",")

d1 = {}
for key in l1:
    d1[key] = None

d1

Enter keysa,b,c,d,e

{'a': None, 'b': None, 'c': None, 'd': None, 'e': None}

In [22]:
l1 = input("Enter kesy").split(",")
dict.fromkeys(l1)

Enter kesya,b,c,d,e,f,g

{'a': None, 'b': None, 'c': None, 'd': None, 'e': None, 'f': None, 'g': None}

In [26]:
l1 = input("Keys: ").split(",")
l2 = input("Values: ").split(",")

d1 = {}

for i in range(len(l1)):
    d1[l1[i]] = l2[i]
    
print(d1)

Keys: a,b,c
Values: x,y,z
{'a': 'x', 'b': 'y', 'c': 'z'}

In [31]:
l1 = input("Keys: ").split(",")
l2 = input("Values: ").split(",")
d1 = {}
for k, v in zip(l1,l2):
    d1[k] = v
    
d1

Keys: a,b,c
Values: x,y,z

{'a': 'x', 'b': 'y', 'c': 'z'}

In [28]:
l1 = input("Keys: ").split(",")
l2 = input("Values: ").split(",")

d1 = {}

i = 0
while i < (len(l1)):
    d1[l1[i]] = l2[i]
    i +=1
    
print(d1)

Keys: a,b,c
Values: x,y,z
{'a': 'x', 'b': 'y', 'c': 'z'}

In [29]:
l1 = input("Keys: ").split(",")
l2 = input("Values: ").split(",")

{l1[i]:l2[i] for i in range(len(l1))}

Keys: a,b,c
Values: x,y,z

{'a': 'x', 'b': 'y', 'c': 'z'}

In [30]:
l1 = input("Keys: ").split(",")
l2 = input("Values: ").split(",")

list(zip(l1,l2))

Keys: a,b,c
Values: x,y,z

[('a', 'x'), ('b', 'y'), ('c', 'z')]

In [32]:
l1 = input("Keys: ").split(",")
l2 = input("Values: ").split(",")

dict(zip(l1,l2))

Keys: a,b,c
Values: x,y,z

{'a': 'x', 'b': 'y', 'c': 'z'}

In [34]:
{
    id:20
    name: 'ABC'
    skills : [python,c,C++,..]
}

SyntaxError: invalid syntax (<ipython-input-34-bdcd395bb2b6>, line 3)

In [36]:
dict1 ={}
dict1["id"] = input("Please Enter Id")
dict1["name"] = input("Please Enter Name")
dict1["skills"] = input("Please Enter Skills").split(",")
dict1

Please Enter Id1
Please Enter NameABc
Please Enter Skillsa,b,c

{'id': '1', 'name': 'ABc', 'skills': ['a', 'b', 'c']}

In [46]:
a = [chr(i) for i in range(65,91)]
b = [chr(i) for i in range(97,123)]
c = [chr(i) for i in range(48,58)]

d = zip(a,sorted(b, reverse=True),c)


list(d)

[('A', 'z', '0'),
 ('B', 'y', '1'),
 ('C', 'x', '2'),
 ('D', 'w', '3'),
 ('E', 'v', '4'),
 ('F', 'u', '5'),
 ('G', 't', '6'),
 ('H', 's', '7'),
 ('I', 'r', '8'),
 ('J', 'q', '9')]

In [49]:
d = [('A', 'z', '0'),
     ('B', 'y', '1'),
     ('C', 'x', '2'),
     ('D', 'w', '4'),
     ('E', 'v', '3'),
     ('F', 'u', '5'),
     ('G', 't', '8'),
     ('H', 's', '7'),
     ('I', 'r', '6'),
     ('J', 'q', '9')]
sorted(d, reverse=True)

[('J', 'q', '9'),
 ('I', 'r', '6'),
 ('H', 's', '7'),
 ('G', 't', '8'),
 ('F', 'u', '5'),
 ('E', 'v', '3'),
 ('D', 'w', '4'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [52]:
d = [('A', 'z', '0'),
     ('B', 'y', '1'),
     ('C', 'x', '2'),
     ('D', 'w', '4'),
     ('E', 'v', '3'),
     ('F', 'u', '5'),
     ('G', 't', '8'),
     ('H', 's', '7'),
     ('I', 'r', '6'),
     ('J', 'q', '9')]
sorted(d, reverse=True, key=lambda x:x[0])

[('J', 'q', '9'),
 ('I', 'r', '6'),
 ('H', 's', '7'),
 ('G', 't', '8'),
 ('F', 'u', '5'),
 ('E', 'v', '3'),
 ('D', 'w', '4'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [72]:
d = [('A', 'z', '0'),
     ('B', 'y', '1'),
     ('C', 'x', '2'),
     ('D', 'w', '4'),
     ('E', 'v', '3'),
     ('F', 'u', '5'),
     ('G', 't', '8'),
     ('H', 's', '7'),
     ('I', 'r', '6'),
     ('J', 'q', '9')]


def abc(x):
    return x[2]   


sorted(d, reverse=True,key=abc)
#abc(('A', 'z', '0'))

[('J', 'q', '9'),
 ('G', 't', '8'),
 ('H', 's', '7'),
 ('I', 'r', '6'),
 ('F', 'u', '5'),
 ('D', 'w', '4'),
 ('E', 'v', '3'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [69]:
d = [('A', 'z', '0'),
     ('B', 'y', '1'),
     ('C', 'x', '2'),
     ('D', 'w', '4'),
     ('E', 'v', '3'),
     ('F', 'u', '5'),
     ('G', 't', '8'),
     ('H', 's', '7'),
     ('I', 'r', '6'),
     ('J', 'q', '9')]
 

sorted(d, reverse=True, key=lambda x:x[2])

[('J', 'q', '9'),
 ('G', 't', '8'),
 ('H', 's', '7'),
 ('I', 'r', '6'),
 ('F', 'u', '5'),
 ('D', 'w', '4'),
 ('E', 'v', '3'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [74]:
d1={
    'a':1,
    'c':5,
    'b':2,
    'd':3
}
print(d1)

{'a': 1, 'c': 5, 'b': 2, 'd': 3}

In [81]:
# Sorted by Keys
d1={
    'a':1,
    'c':5,
    'b':2,
    'd':3
}

d2 = {}
for k in sorted(d1.keys()):
    d2[k] = d1[k]
    
d2

{'a': 1, 'b': 2, 'c': 5, 'd': 3}

In [88]:
d1={
    'a':1,
    'c':5,
    'b':2,
    'd':3
}

{k:v for k,v in sorted(d1.items(), key=lambda x:x[1], reverse=True) }

{'c': 5, 'd': 3, 'b': 2, 'a': 1}

[
{id:'',name:'',skills=[a,b,c]},
{id:'',name:'',skills=[a,b,c]},
{id:'',name:'',skills=[a,b,c]}
]

In [91]:
students = []

flag = ''

while flag!='no':
    d1 = {}
    d1['id'] = input("ID")
    d1['name'] = input("Name")
    d1['skills'] = input("skills").split(",")
    students.append(d1)
    
    flag = input("Enter More record Yes | no")

students

ID1
Name1
skills1
Enter More record Yes | no1
ID2
Name2
skills2
Enter More record Yes | no3
ID3
Name3
skills3
Enter More record Yes | nono

[{'id': '1', 'name': '1', 'skills': ['1']},
 {'id': '2', 'name': '2', 'skills': ['2']},
 {'id': '3', 'name': '3', 'skills': ['3']}]

In [90]:
students

[]

{
    a:1
    c:5
    b:2
    d:3
}

sorting dictionary base on keys
{
    a:1
    b:2
    c:5    
    d:3
}
sorting dictionary base on values
{
    a:1
    b:2
    d:3
    c:5    
    
}