In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
5 + 8 # Operation
#Operators
    # +, - ,/ , * , %, ** 
    # = , +=, -=, /=, *=, %=
    # == , >, <, >=, <=
# 5, 8 Oprands

13

In [3]:
#PEMDAS
5 + 7 - 8 * (2/2) +200
#5 + 7 - 8 * 1 +200
#5 + 7 - 8 +200
#212 - 8
#204

204.0

In [5]:
a = 8
b = 8
print(a)
print(b)

print(id(a))
print(id(b))

b += 1
print(id(a))
print(id(b))

8
8
94555982443616
94555982443616
94555982443616
94555982443648

In [6]:
a = 7
type(a)

int

In [7]:
a = 20.7
type(a)

float

In [8]:
a = True
type(a)

bool

In [9]:
a = False
type(a)

bool

In [10]:
5 / 5

1.0

In [11]:
a = "1"
type(a)

str

In [12]:
a = '1'
type(a)

str

In [13]:
a = """1"""
type(a)

str

In [14]:
"1" + '1'

'11'

In [15]:
int("1") + int('1')

2

In [17]:
a = 20
type(a)

int

In [20]:
1+ 7

8

In [21]:
'1'+ '7'

'17'

In [22]:
a = "pakistan"
a * 2

'pakistanpakistan'

In [28]:
#Index     0       1       2       3
names = ["Ali", "Hamza","Junaid", 200]
#Index     -4     -3       -2      -1
print(type(names))
print(names)
print(names[0])

<class 'list'>
['Ali', 'Hamza', 'Junaid', 200]
Ali

In [29]:
#Index     0       1       2       3
names = ("Ali", "Hamza","Junaid", 200)
#Index     -4     -3       -2      -1
print(type(names))

<class 'tuple'>

In [30]:
names = {"Ali", "Hamza","Junaid", 200, "Hamza"}
print(names)
print(type(names))

{'Ali', 'Junaid', 200, 'Hamza'}
<class 'set'>

In [31]:
names = {"Ali", "Hamza","Junaid", 200, "Hamza"}
print(names[0])
print(type(names))

TypeError: 'set' object does not support indexing

In [32]:
names = {"Ali", "Hamza","Junaid", 200, "Hamza"}
names = list(names)

print(names[0])
print(type(names))

Ali
<class 'list'>

In [39]:
data = {
    #Key  : Value
    'name':"Muhammad Qasim",
    'fname':"Muhammad Aslam",
    'name':"Asif Khan",
    5     : 'Pakistan',
    "a" : [True,"pakistan",20, 3.0 ]
}

data['a']

[True, 'pakistan', 20, 3.0]

In [40]:
a = "Muhammad Qasim"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [41]:
a = "MUHammAD QaSiM"
print(a.upper())
print(a)

MUHAMMAD QASIM
MUHammAD QaSiM

In [42]:
a = "MUHammAD QaSiM"
a = a.upper()
a

'MUHAMMAD QASIM'

In [43]:
a = "MUHammAD QaSiM"
print(a.lower())
print(a)

muhammad qasim
MUHammAD QaSiM

In [44]:
a = "MUHammAD QaSiM"
print(a.title())

Muhammad Qasim

In [45]:
a = "MUHammAD QaSiM"
print(a.capitalize())

Muhammad qasim

In [46]:
a = "      MUHammAD  QaSiM      "
a

'      MUHammAD  QaSiM      '

In [49]:
a = "      MUHammAD  QaSiM      "
print(len(a))
print(a.lstrip())
print(len(a.lstrip()))

27
MUHammAD  QaSiM
21

In [50]:
a = "      MUHammAD  QaSiM      "
print(len(a))
print(a.rstrip())
print(len(a.rstrip()))

27
      MUHammAD  QaSiM
21

In [52]:
a = "      MUHammAD  QaSiM      "
print(len(a))
print(a.strip())
print(len(a.strip()))

27
MUHammAD  QaSiM
15

In [55]:
b = a.split()
b

['MUHammAD', 'QaSiM']

In [59]:
" ".join(b)

'MUHammAD QaSiM'

In [60]:
a = "we are pakistan we love our country!"
a

'we are pakistan we love our country!'

In [65]:
#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]

print(a)
print(a[::])
print(a[::-1])
print(a[7:15:])

we are pakistan we love our country!
we are pakistan we love our country!
!yrtnuoc ruo evol ew natsikap era ew
pakistan

In [66]:
print(a)
print(a.index("pakistan"))

we are pakistan we love our country!
7

In [68]:
a[a.index("pakistan"):15]

'pakistan'

In [72]:
a = "390ulksadlj309u0jll"
"".join([i for i in a if str.isnumeric(i)])

'3903090'

In [74]:
card = """
Bharia University Islamabad
name: Muhammad Qasim
Father's Name: Muhammad Aslam
Program: PIAIC
"""

print(card)

Bharia University Islamabad
name: Muhammad Qasim
Father's Name: Muhammad Aslam
Program: PIAIC

In [75]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
program = "PIAIC"
s = 200

card = """
Bharia University Islamabad
name: %s
Father's Name: %s
Program: %s
Score: %d 
"""

print(card%(name, fname, program, s))

Bharia University Islamabad
name: Muhammad Qasim
Father's Name: Muhammad Aslam
Program: PIAIC
Score: 200

In [77]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
program = "PIAIC"
s = 200

card = f"""
Bharia University Islamabad
name: {name}
Father's Name: {fname}
Program: {program}
Score: {s}
"""
print(card)

Bharia University Islamabad
name: Muhammad Qasim
Father's Name: Muhammad Aslam
Program: PIAIC
Score: 200

In [79]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
program = "PIAIC"
s = 200

card = """
Bharia University Islamabad
name: {}
Father's Name: {}
Program: {}
Score: {}
"""
print(card.format(name,fname,program,s))

Bharia University Islamabad
name: Muhammad Qasim
Father's Name: Muhammad Aslam
Program: PIAIC
Score: 200

In [81]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
program = "PIAIC"
s = 200

card = """
Bharia University Islamabad
name: {3}
Father's Name: {1}
Program: {2}
Score: {0}
"""
print(card.format(name,fname,program,s))

Bharia University Islamabad
name: 200
Father's Name: Muhammad Aslam
Program: PIAIC
Score: Muhammad Qasim

In [80]:
fname = "Muhammad Aslam"
program = "PIAIC"
s = 200

card = """
Bharia University Islamabad
name: {a}
Father's Name: {b}
Program: {c}
Score: {d}
"""
print(card.format(a=name,b=fname,c=program,d=s))

Bharia University Islamabad
name: Muhammad Qasim
Father's Name: Muhammad Aslam
Program: PIAIC
Score: 200

In [82]:
"1" + "1"

'11'

In [97]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
program = "PIAIC"
s = 200

print("Bahria University Islamabad \nStudent Name " \
+ name+"  \nFather's Name: "+fname+"\nProgram: "+program \
+ "\nScore: " + str(s))

Bahria University Islamabad
Student Name Muhammad Qasim
Father's Name: Muhammad Aslam
Program: PIAIC
Score: 200

# Assignment
- All String data type Methods
- 20 oprand with different oprators