## Functions
* Pre define functions
* User Define Functions
* Recursive Functions
* Lambda Functions


- Required Arguments
- Optional Arguments
- Return
- Non Return
- Defualt Arguments
- postional Arguments
- KeyWord Arguments
- Argument with List
- Argument with Dictionary
- pre defineFunctions
- User defineFunctions

# Pre define functions

In [2]:
print("Pre define function")
# input("abc")
print(type('aa'))
print(id('aa'))
print(sorted("adb"))
print(sum([1,8]))

Pre define function
<class 'str'>
140511227845240
['a', 'b', 'd']
9

# User Define Functions

In [3]:
print("Pakistan zinda bad")
print("We are pakistani")
print("We love our country!")

print("Pakistan zinda bad")
print("We are pakistani")
print("We love our country!")

print("Pakistan zinda bad")
print("We are pakistani")
print("We love our country!")

Pakistan zinda bad
We are pakistani
We love our country!
Pakistan zinda bad
We are pakistani
We love our country!
Pakistan zinda bad
We are pakistani
We love our country!

# Defualt Function

In [5]:
def abc(): # Function Dec
    print("Pakistan zinda bad") #Body Start statment1
    print("We are ABC")# Statment2
    print("We love our country!")#Body End Statment3

 
abc()
abc()
abc()
abc()
abc()

Pakistan zinda bad
We are ABC
We love our country!
Pakistan zinda bad
We are ABC
We love our country!
Pakistan zinda bad
We are ABC
We love our country!
Pakistan zinda bad
We are ABC
We love our country!
Pakistan zinda bad
We are ABC
We love our country!

# Required Arguments

In [7]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    course: {course}
    Timing: {timing}
    """)


id_card(1,"Qasim","Aslam","A.I","12:15 to 03:15")    
id_card(2,"Qasim1","Aslam","A.I","12:15 to 03:15")
id_card(3,"Qasim2","Aslam","A.I","12:15 to 03:15")

    PIAIC Islamabad
    Student id: 1
    Name: Qasim
    Father's Name: Aslam
    course: A.I
    Timing: 12:15 to 03:15


    PIAIC Islamabad
    Student id: 2
    Name: Qasim1
    Father's Name: Aslam
    course: A.I
    Timing: 12:15 to 03:15


    PIAIC Islamabad
    Student id: 3
    Name: Qasim2
    Father's Name: Aslam
    course: A.I
    Timing: 12:15 to 03:15

In [8]:
id_card(3,"Qasim2","Aslam","A.I")

TypeError: id_card() missing 1 required positional argument: 'timing'

# Optional Arguments

In [9]:
def pls(x, y = 0, z=0):
    print(x,y,z)
    print(x+y+z)
    
pls(5)

5 0 0
5

In [10]:
pls(6,7)
pls(8,5,9)
pls()

6 7 0
13
8 5 9
22

TypeError: pls() missing 1 required positional argument: 'x'

# Non Return Functions

In [11]:
a = print("pakistan")
print(a)

pakistan
None

In [12]:
b = pls(5,7,9)
print(b)

5 7 9
21
None

# Return Functions

In [13]:
def pls(x=0, y=0, z=0):
    return x+y+z

a = pls(7,8)
b = pls(8,4,3)

print(a,b)

15 15

In [14]:
def pls(x=0, y=0, z=0):
    return x+y+z # Alway return first return statment
    return x*y*z
    return x+y*z

a = pls(7,8)
b = pls(8,4,3)

print(a,b)

15 15

In [16]:
def pls(x=0, y=0, z=0):
    return x+y+z , x*y*z , x+y*z

a = pls(7,8)


print(a)

(15, 0, 7)

# Keyword Arguments

In [17]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    course: {course}
    Timing: {timing}
    """)

id_card(11,"A.I","3 to 6","Aslam",'Qasim')

    PIAIC Islamabad
    Student id: 11
    Name: A.I
    Father's Name: 3 to 6
    course: Aslam
    Timing: Qasim

In [18]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    course: {course}
    Timing: {timing}
    """)

id_card(sid=11,course="A.I",timing="3 to 6",fname="Aslam",sname='Qasim')

    PIAIC Islamabad
    Student id: 11
    Name: Qasim
    Father's Name: Aslam
    course: A.I
    Timing: 3 to 6

In [19]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    course: {course}
    Timing: {timing}
    """)

id_card(11,"Qasim",course="A.I",timing="3 to 6",fname="Aslam")

    PIAIC Islamabad
    Student id: 11
    Name: Qasim
    Father's Name: Aslam
    course: A.I
    Timing: 3 to 6

In [20]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    course: {course}
    Timing: {timing}
    """)

id_card(11,"Qasim",course="A.I",fname="Aslam","3 to 6")

SyntaxError: positional argument follows keyword argument (<ipython-input-20-8662b3ea6b81>, line 11)

# Pass Argument by List

In [25]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    course: {course}
    Timing: {timing}
    """)
    
    
l1 = [8,"A","B","C","D"]    
l2 = [81,"A1","B1","C1","D1"] 

#id_card(l1[0], l1[1], l1[2], l1[3], l1[4])
id_card(*l2)
print(*l1)

    PIAIC Islamabad
    Student id: 81
    Name: A1
    Father's Name: B1
    course: C1
    Timing: D1

8 A B C D

# Pass Arguments by Dictionary

In [27]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    course: {course}
    Timing: {timing}
    """)
    
    
d1 = {
    'course': 'A.I',
    "timing":'12:30 to 03:30',
    'sname': 'Qasim',
    'fname':'Aslam',
    'sid':200
}   

#id_card(sid=11,sname="Qasim",course="A.I",timing="3 to 6",fname="Aslam")
id_card(**d1)

    PIAIC Islamabad
    Student id: 200
    Name: Qasim
    Father's Name: Aslam
    course: A.I
    Timing: 12:30 to 03:30

# Optional Parameters with List

In [30]:
def abc(name, *number):
    print(name)
    print(number)
    print(sum(number))
    
abc("Qasim", 5,8,9,0)

Qasim
(5, 8, 9, 0)
22

In [32]:
def abc(*number, name):
    print(name)
    print(number)
    print(sum(number))
    
abc(5,8,9,9, name="Qasim")

Qasim
(5, 8, 9, 9)
31

# Optional Parameters with Dictionary

In [34]:
def abc(name, **kv):
    print(name)
    print(kv)
    if 'b' in kv.keys():
        print("Pakistan")
    
abc('qasim', a='aa', b='bb',c='cc')

qasim
{'a': 'aa', 'b': 'bb', 'c': 'cc'}
Pakistan

In [ ]:
abc()

In [37]:
def abc(**kv, name):
    print(name)
    print(kv)
    if 'b' in kv.keys():
        print("Pakistan")
    
abc( a='aa', b='bb',c='cc', name='qasim')

SyntaxError: invalid syntax (<ipython-input-37-1aea56bc2411>, line 1)

# Recursive Function

In [38]:
def xyz(n):
    if n==1:
        return 1
    
    return n * xyz(n-1)



xyz(5)

#1*2*3*4*5=120

120

# Generator Functions

In [44]:
def my_range(n):
    for i in range(1,n+1):
        yield i
        
        
a = my_range(10)        
print(a)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

list(a)

<generator object my_range at 0x7fcb375af6d8>
1
2
3
4
5

[6, 7, 8, 9, 10]

In [53]:
def my_range(n):
    for i in range(1,n+1):
        if (i%5==0 and i%7==0 and i%15==0):
            yield i
        
        
a = my_range(1500)        

print(next(a))
print(next(a))

105
210

# Lambda Functions

In [54]:
def abc(x,y): return x+y

abc(5,6)

11

In [55]:
abc = lambda x,y,z: x+y+z

abc(5,6,9)

20

5,3
5

3,6
6